p_dash.json
[
    {
        "id": "9e101dda48136e0b",
        "type": "tab",
        "label": "p_dash",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0560ff57ecbbbdb7",
        "type": "ui_button",
        "z": "9e101dda48136e0b",
        "name": "LogoutButt",
        "group": "dc0c38a227ad19ab",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "#000000",
        "bgcolor": "#FFFFFF",
        "className": "logoutBtn",
        "icon": "logout",
        "payload": "{\"tab\":\"pHome\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "e80dedc7717255bb"
            ]
        ]
    },
    {
        "id": "9cb947067eba204e",
        "type": "ui_text",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Welcome",
        "label": "<b><font size=\"3\">Welcome</font></b>",
        "format": "<b><font size=\"3\" color=\"#28abc0\">{{msg.payload}}</font></b>",
        "layout": "col-center",
        "className": "",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "b03b1864503cc0a8",
        "type": "ui_button",
        "z": "9e101dda48136e0b",
        "name": "RefreshButt",
        "group": "dc0c38a227ad19ab",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "#000000",
        "bgcolor": "#FFFFFF",
        "className": "refreshBtn",
        "icon": "refresh",
        "payload": "{\"tab\":\"\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "b89ad2a2b1a80750",
                "e0ca774fa05b5f4b"
            ]
        ]
    },
    {
        "id": "2b3bbc8afb72f626",
        "type": "ui_template",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "name": "refreshBTNstyle",
        "order": 16,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .refreshBtn > .md-button {\n        box-shadow: none !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "653191ec30ce14aa",
        "type": "ui_template",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "name": "logoutBTNstyle",
        "order": 17,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .logoutBtn > .md-button {\n        box-shadow: none !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ac491546556b2daa",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 9",
        "func": "let userMode = global.get(\"userMode\");\n\nreturn [{ payload: global.get(\"currUser\") }, { payload: userMode }, { payload: global.get(\"reg_id\") }];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 100,
        "wires": [
            [
                "9cb947067eba204e"
            ],
            [
                "612a60b1e9a5b59a"
            ],
            [
                "22baf04e79131362"
            ]
        ]
    },
    {
        "id": "8fb57ac02be32fdb",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "IconfirmedLog",
        "links": [
            "3dcbc181ec3d8265"
        ],
        "x": 45,
        "y": 100,
        "wires": [
            [
                "ac491546556b2daa",
                "d4f273bf818090a6",
                "e0ca774fa05b5f4b",
                "6c9ff53c55968922"
            ]
        ]
    },
    {
        "id": "dc576d118ae7a665",
        "type": "ui_ui_control",
        "z": "9e101dda48136e0b",
        "name": "ToParkingDash",
        "events": "all",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "221dd69ad3b42f7a"
            ]
        ]
    },
    {
        "id": "e80dedc7717255bb",
        "type": "delay",
        "z": "9e101dda48136e0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "dc576d118ae7a665",
                "7bf931b8aab5234b"
            ]
        ]
    },
    {
        "id": "56599453c94bb2c5",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "Change color",
        "func": "var parkCars = [];\nvar car_color = [];\nvar parkStatus = [];\nvar i;\nvar jsondata = msg.payload;\n\nfor(i=0;i<6;i++)\n{   \n    //parkStatus.push(eval(\"jsondata.C\" + String(i + 1)));\n    parkStatus.push(jsondata);\n    if (parkStatus[i] == 1 && jsondata != 3)\n    {\n        car_color[i] = \"#df7370\";\n    }\n    else if (parkStatus[i] == 0 && jsondata != 3)\n        car_color[i] = \"#70df98\"\n\n    else \n        car_color[i] = \"#ced8d0\";\n\n    jsondata=2;\n    parkCars[i] = {\n        \"command\": \"set_style\",\n        \"selector\": \"#\" + \"Park_\"+String(i+1),\n        \"attributeName\": \"fill\",\n        \"attributeValue\": car_color[i]\n    };\n    \n}\nreturn [{ payload: parkCars[0] }, { payload: parkCars[1] }, { payload: parkCars[2] }, { payload: parkCars[3] }, { payload: parkCars[4] }, { payload: parkCars[5] }];\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 380,
        "wires": [
            [
                "1994cde019c34beb"
            ],
            [
                "815b3db7a9dc9109"
            ],
            [
                "5d426b2444f6bf43"
            ],
            [
                "d60ef792bcb31d26"
            ],
            [
                "b1ad7f5b01017348"
            ],
            [
                "051e3f76fb71ac7b"
            ]
        ]
    },
    {
        "id": "6abf78f01ecf0a47",
        "type": "inject",
        "z": "9e101dda48136e0b",
        "name": "Cars Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"C1\":1,\"C2\":0,\"C3\":0,\"C4\":0,\"C5\":1,\"C6\":1}",
        "payloadType": "json",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "8d823d78abba629d"
            ]
        ]
    },
    {
        "id": "1994cde019c34beb",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 8,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_1\" transform=\"matrix(1.43028, 0, 0, 1.43028, -255.599, -6.65932)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car0",
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5d426b2444f6bf43",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 10,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_3\" transform=\"matrix(1.43028, 0, 0, 1.43028, -255.599, -6.65932)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car2",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b1ad7f5b01017348",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 12,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_5\" transform=\"matrix(1.43028, 0, 0, 1.43028, -255.599, -6.65932)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car4",
        "x": 690,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "815b3db7a9dc9109",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 7,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_2\" transform=\"matrix(0, 1.43028, 1.43028, 0, -155.819, -106.439)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car1",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d60ef792bcb31d26",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 9,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_4\" transform=\"matrix(0, 1.43028, 1.43028, 0, -155.819, -106.439)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car3",
        "x": 690,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "051e3f76fb71ac7b",
        "type": "ui_svg_graphics",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 11,
        "width": 3,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"99%\" height=\"99%\" version=\"1.1\" viewBox=\"0 0 700 700\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"700\" height=\"700\" style=\"fill:none;stroke:none\" />\n  <defs id=\"svgEditorDefs\">\n    <pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\">\n      <line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\" />\n    </pattern>\n  </defs>\n  <defs>\n    <symbol id=\"f\" overflow=\"visible\">\n      <path d=\"m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z\" />\n    </symbol>\n    <symbol id=\"e\" overflow=\"visible\">\n      <path d=\"m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z\" />\n    </symbol>\n    <symbol id=\"d\" overflow=\"visible\">\n      <path d=\"m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z\" />\n    </symbol>\n    <symbol id=\"c\" overflow=\"visible\">\n      <path d=\"m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z\" />\n    </symbol>\n    <symbol id=\"b\" overflow=\"visible\">\n      <path d=\"m4.9062-31.891h10.188v31.891h-10.188zm0-12.422h10.188v8.3125h-10.188z\" />\n    </symbol>\n    <symbol id=\"a\" overflow=\"visible\">\n      <path d=\"m36.969-19.422v19.422h-10.25v-14.812c0-2.7891-0.0625-4.707-0.1875-5.75-0.125-1.0391-0.33984-1.8125-0.64062-2.3125-0.39844-0.65625-0.9375-1.1719-1.625-1.5469s-1.4648-0.5625-2.3281-0.5625c-2.1367 0-3.8125 0.82422-5.0312 2.4688-1.2109 1.6484-1.8125 3.9219-1.8125 6.8281v15.688h-10.188v-44.312h10.188v17.078c1.5391-1.8516 3.1719-3.2227 4.8906-4.1094 1.7266-0.88281 3.6406-1.3281 5.7344-1.3281 3.6875 0 6.4844 1.1328 8.3906 3.3906 1.9062 2.2617 2.8594 5.5469 2.8594 9.8594z\" />\n    </symbol>\n  </defs>\n  <g transform=\"matrix(0.804306 0.804306 -0.804306 0.804306 490.521 -153.881)\">\n    <path d=\"m436.35,187.89s19.727,-117.89,-86.637,-117.89c-103.19,0,-86.648,117.89,-86.648,117.89s-20.172,3.6992,-15.445,17.988c0,0,4.082,3.9648,21.07,-5.0977l-1.1562,147.49s-4.8516,9.5781,-4.8516,45.195c0,128.57,174.04,128.57,174.04,0c0,-35.617,-4.8398,-45.195,-4.8398,-45.195l-1.1562,-147.49c16.977,9.0664,21.07,5.0977,21.07,5.0977c4.7344,-14.289,-15.449,-17.988,-15.449,-17.988Zm-86.043,267.43c-32.809,0,-58.332,-34.766,-58.332,-34.766l0.035157,-41.578s22.82,42.688,59.207,42.688s56.805,-43.891,56.805,-43.891l0.83984,42.781c0,-0.003906,-25.746,34.766,-58.555,34.766Zm56.887,-245.46s-13.93,-12.426,-55.672,-12.426c-41.766,0,-57.715,14.023,-57.715,14.023l-16.297,-38.066s21.453,-28.852,72.918,-28.852c51.438,0,72.906,29.445,72.906,29.445Z\" id=\"Park_6\" transform=\"matrix(0, 1.43028, 1.43028, 0, -155.819, -106.439)\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Car5",
        "x": 690,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6c90a1cd1149f5ea",
        "type": "mqtt in",
        "z": "9e101dda48136e0b",
        "name": "Cars Status",
        "topic": "pCarsStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd57cb5dc1164ece",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "16d98c780779f910"
            ]
        ]
    },
    {
        "id": "b89ad2a2b1a80750",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 10",
        "func": "\nreturn {payload: 3};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nreturn { payload: 0 };",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "56599453c94bb2c5"
            ]
        ]
    },
    {
        "id": "8d823d78abba629d",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 11",
        "func": "/*global.set(\"c1\", msg.payload.C1);\nglobal.set(\"c2\", msg.payload.C2);\nglobal.set(\"c3\", msg.payload.C3);\nglobal.set(\"c4\", msg.payload.C4);\nglobal.set(\"c5\", msg.payload.C5);\nglobal.set(\"c6\", msg.payload.C6);*/\n\nglobal.set(\"c0\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "56599453c94bb2c5"
            ]
        ]
    },
    {
        "id": "70ab5832ca69629d",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 12",
        "func": "/*msg.payload = {\n    \"C1\": global.get(\"c1\"),\n    \"C2\": global.get(\"c2\"),\n    \"C3\": global.get(\"c3\"),\n    \"C4\": global.get(\"c4\"),\n    \"C5\": global.get(\"c5\"),\n    \"C6\": global.get(\"c6\")\n}*/\n\nmsg.payload = global.get(\"c0\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "56599453c94bb2c5"
            ]
        ]
    },
    {
        "id": "e0ca774fa05b5f4b",
        "type": "delay",
        "z": "9e101dda48136e0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "70ab5832ca69629d"
            ]
        ]
    },
    {
        "id": "612a60b1e9a5b59a",
        "type": "ui_text",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "Bloc",
        "label": "<b><font size=\"3\">Bloc : </font></b>",
        "format": "<b><font size=\"3\" color=\"#28abc0\">{{msg.payload}}</font></b>",
        "layout": "row-center",
        "className": "",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "22baf04e79131362",
        "type": "ui_text",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "ID",
        "label": "<b><font size=\"3\">ID : </font></b>",
        "format": "<b><font size=\"3\" color=\"#28abc0\">{{msg.payload}}</font></b>",
        "layout": "row-center",
        "className": "",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "16d98c780779f910",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 13",
        "func": "/*global.set(\"c1\", msg.payload.C1);\nglobal.set(\"c2\", msg.payload.C2);\nglobal.set(\"c3\", msg.payload.C3);\nglobal.set(\"c4\", msg.payload.C4);\nglobal.set(\"c5\", msg.payload.C5);\nglobal.set(\"c6\", msg.payload.C6);*/\n\nglobal.set(\"c0\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "56599453c94bb2c5"
            ]
        ]
    },
    {
        "id": "d4f273bf818090a6",
        "type": "ui_button",
        "z": "9e101dda48136e0b",
        "name": "Reserve Button",
        "group": "dc0c38a227ad19ab",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "<b><font color=\"black\">Reserve a place</font></b>",
        "tooltip": "",
        "color": "",
        "bgcolor": "#a3f0e9",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "a3f249c65bcc1a91"
            ]
        ]
    },
    {
        "id": "3c052cfa638c008a",
        "type": "inject",
        "z": "9e101dda48136e0b",
        "name": "Car Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "8d823d78abba629d"
            ]
        ]
    },
    {
        "id": "884fa6308212f2cd",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "get Guest View",
        "func": "msg.payload = global.get(\"guestView\");\nglobal.set(\"guestView\",true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 40,
        "wires": [
            [
                "deadb403c2044228"
            ]
        ]
    },
    {
        "id": "2960c22f68230193",
        "type": "link out",
        "z": "9e101dda48136e0b",
        "name": "IenableButtons",
        "mode": "link",
        "links": [
            "37aee3b32fd66329",
            "f13eab0a3e3cb842"
        ],
        "x": 585,
        "y": 40,
        "wires": []
    },
    {
        "id": "148561fa384a8d18",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "IviewGuest",
        "links": [
            "85bf3a74e5014657"
        ],
        "x": 65,
        "y": 40,
        "wires": [
            [
                "884fa6308212f2cd",
                "b03b1864503cc0a8",
                "e0ca774fa05b5f4b"
            ]
        ]
    },
    {
        "id": "deadb403c2044228",
        "type": "change",
        "z": "9e101dda48136e0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "2960c22f68230193"
            ]
        ]
    },
    {
        "id": "7bf931b8aab5234b",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "return no string",
        "func": "global.set(\"currUser\", \"\");\nglobal.set(\"reg_id\", \"\");\nglobal.set(\"userMode\", \"\");\nreturn {payload: \"\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nreturn { payload: 0 };",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "9cb947067eba204e",
                "612a60b1e9a5b59a",
                "22baf04e79131362",
                "1efeb6147df1d85b",
                "9e73a8e0e793ea61"
            ]
        ]
    },
    {
        "id": "37aee3b32fd66329",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "OenableButtons",
        "links": [
            "2960c22f68230193"
        ],
        "x": 45,
        "y": 160,
        "wires": [
            [
                "d4f273bf818090a6"
            ]
        ]
    },
    {
        "id": "7769cd9da2eea497",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "verify place",
        "func": "var dataBase = msg.payload;\nvar userIndex = 0;\nfor (userIndex = 0; userIndex < dataBase.length; userIndex++) {\n    if (dataBase[userIndex].regID == global.get(\"reg_id\"))\n        break;\n}\n//msg.payload = dataBase[0].cin;\n//msg.payload = userIndex;\n\nvar userKey = dataBase[userIndex].accessKey;\n\nif (userKey == \"\") {\n    if (global.get(\"c0\") == 1) {\n        return [{ payload: dataBase }, { payload: \"No place available ! Please come back later.\" }];\n    }\n\n    else {\n        global.set(\"c0\", 1);\n        dataBase[userIndex].accessKey = String(global.get(\"userMode\") + global.get(\"reg_id\"));\n        return [{ payload: dataBase }, { payload: \"Place reserved ! Your acces key is : \" + global.get(\"userMode\") + global.get(\"reg_id\") }];\n    }\n}\nelse {\n    return [{ payload: dataBase }, { payload: \"You've already reserved ! Your access key is : \" + userKey }];    \n}\n\n    ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nreturn { payload: 0 };",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "55c7ef881474118a",
                "67c0cd1b3655bb49"
            ],
            [
                "6dbaead458f5069e",
                "13447f1e00f74222"
            ]
        ]
    },
    {
        "id": "13447f1e00f74222",
        "type": "ui_toast",
        "z": "9e101dda48136e0b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "bd36f51665f65a64",
        "type": "file in",
        "z": "9e101dda48136e0b",
        "name": "subscribed.json",
        "filename": "C:\\Users\\YASSI\\Desktop\\subscribed.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "dec57b783c4c7bee"
            ]
        ]
    },
    {
        "id": "dec57b783c4c7bee",
        "type": "json",
        "z": "9e101dda48136e0b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "7769cd9da2eea497"
            ]
        ]
    },
    {
        "id": "a3f249c65bcc1a91",
        "type": "link out",
        "z": "9e101dda48136e0b",
        "name": "OverifyPlace",
        "mode": "link",
        "links": [
            "203645f24923eb84"
        ],
        "x": 425,
        "y": 200,
        "wires": []
    },
    {
        "id": "203645f24923eb84",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "IverifyPlace",
        "links": [
            "a3f249c65bcc1a91"
        ],
        "x": 65,
        "y": 580,
        "wires": [
            [
                "bd36f51665f65a64"
            ]
        ]
    },
    {
        "id": "55c7ef881474118a",
        "type": "link out",
        "z": "9e101dda48136e0b",
        "name": "OrefreshPlaces",
        "mode": "link",
        "links": [
            "8a7481d442956930"
        ],
        "x": 485,
        "y": 540,
        "wires": []
    },
    {
        "id": "8a7481d442956930",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "IrefreshPlaces",
        "links": [
            "55c7ef881474118a",
            "c65fd544bf559de9"
        ],
        "x": 85,
        "y": 320,
        "wires": [
            [
                "e0ca774fa05b5f4b"
            ]
        ]
    },
    {
        "id": "6dbaead458f5069e",
        "type": "debug",
        "z": "9e101dda48136e0b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "67c0cd1b3655bb49",
        "type": "json",
        "z": "9e101dda48136e0b",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "05c623a198ac3f28"
            ]
        ]
    },
    {
        "id": "05c623a198ac3f28",
        "type": "file",
        "z": "9e101dda48136e0b",
        "name": "subscribed.json",
        "filename": "C:\\Users\\YASSI\\Desktop\\subscribed.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 860,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1efeb6147df1d85b",
        "type": "ui_text",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 13,
        "width": 1,
        "height": 1,
        "name": "in",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "9e73a8e0e793ea61",
        "type": "ui_text",
        "z": "9e101dda48136e0b",
        "group": "dc0c38a227ad19ab",
        "order": 15,
        "width": 1,
        "height": 1,
        "name": "out",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "ab50884238d61b14",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "in_",
        "links": [
            "3c4610c13edb94b2",
            "f0fcfa4f3a497826"
        ],
        "x": 755,
        "y": 260,
        "wires": [
            [
                "1efeb6147df1d85b"
            ]
        ]
    },
    {
        "id": "8b3557e86df11870",
        "type": "link in",
        "z": "9e101dda48136e0b",
        "name": "out_",
        "links": [
            "cb3206f55e448055",
            "967f885d97408bc3"
        ],
        "x": 775,
        "y": 300,
        "wires": [
            [
                "9e73a8e0e793ea61"
            ]
        ]
    },
    {
        "id": "6c9ff53c55968922",
        "type": "file in",
        "z": "9e101dda48136e0b",
        "name": "subscribed.json",
        "filename": "C:\\Users\\YASSI\\Desktop\\subscribed.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "ef5e5876d03a54d3"
            ]
        ]
    },
    {
        "id": "ef5e5876d03a54d3",
        "type": "json",
        "z": "9e101dda48136e0b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "e316a14f95e7beca"
            ]
        ]
    },
    {
        "id": "e316a14f95e7beca",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "in check",
        "func": "var dataBase = msg.payload;\nvar userIndex = 0;\nfor (userIndex = 0; userIndex<dataBase.length; userIndex++) {\n    if (dataBase[userIndex].regID == global.get(\"reg_id\"))\n        break;\n}\n\nvar inT = dataBase[userIndex].inT;\n\nif (inT == \"\")\n    return { payload: \"\" };\nelse\n    return { payload: \"in\" };\n\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nreturn { payload: 0 };",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "f0fcfa4f3a497826"
            ]
        ]
    },
    {
        "id": "f0fcfa4f3a497826",
        "type": "link out",
        "z": "9e101dda48136e0b",
        "name": "OinCheck",
        "mode": "link",
        "links": [
            "ab50884238d61b14"
        ],
        "x": 535,
        "y": 640,
        "wires": []
    },
    {
        "id": "221dd69ad3b42f7a",
        "type": "function",
        "z": "9e101dda48136e0b",
        "name": "function 14",
        "func": "if (msg.payload == \"lost\" || msg.payload == \"change\")\n    return {payload: \"\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 40,
        "wires": [
            [
                "967f885d97408bc3"
            ]
        ]
    },
    {
        "id": "967f885d97408bc3",
        "type": "link out",
        "z": "9e101dda48136e0b",
        "name": "OoutCheck",
        "mode": "link",
        "links": [
            "8b3557e86df11870"
        ],
        "x": 825,
        "y": 40,
        "wires": []
    },
    {
        "id": "ae2918183c280687",
        "type": "remote-access",
        "z": "9e101dda48136e0b",
        "confignode": "65aa476d444fcec8",
        "name": "",
        "verbose": 0,
        "x": 940,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "0cdfb0e6223f8d46",
        "type": "ui_spacer",
        "z": "9e101dda48136e0b",
        "name": "spacer",
        "group": "dc0c38a227ad19ab",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "dc0c38a227ad19ab",
        "type": "ui_group",
        "name": "parking",
        "tab": "c212e019583c6505",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd57cb5dc1164ece",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65aa476d444fcec8",
        "type": "remote-config",
        "name": "SMART PARKING",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "n62j68du90azo674bc32usavk52f6xy2blq3ks80yxv5glmjwk1vat1bpystz1u5",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "c212e019583c6505",
        "type": "ui_tab",
        "name": "pDash",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]